{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {},
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
          "globalReturn": true,
          "impliedStrict": true
        }
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "no-cond-assign": 2,
        "no-console": 0,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 1,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-ex-assign": 1,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": [
            0,
            "all",
            {
                "conditionalAssign": false
            }
        ],
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": [
            2,
            {
                "skipStrings": true,
                "skipComments": true,
                "skipRegExps": false,
                "skipTemplates": true
            }
        ],
        "no-obj-calls": 2,
        "no-prototype-builtins": 2,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "no-unsafe-finally": 1,
        "no-unsafe-negation": 2,
        "use-isnan": 2,
        "valid-typeof": [
            2,
            {
                "requireStringLiterals": true
            }
        ],
        "array-callback-return": 2,
        "block-scoped-var": 2,
        /*"class-methods-use-this":2,*/
        /*"complexity":["error", { "max": 8}],*/
        "curly": [
            2,
            "all"
        ],
        "guard-for-in": 2,
        "no-alert": 1,
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-empty-function": 2,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-extra-label": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-global-assign": 2,
        "no-implicit-globals": 2,
        "no-implied-eval": 2,
        "no-invalid-this": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-multi-str": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-octal-escape": 2,
        "no-octal": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-self-assign": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unmodified-loop-condition": 2,
        "no-unused-expressions": 2,
        "no-unused-labels": 2,
        "no-useless-concat": 2,
        "no-useless-return": 2,
        "no-void": 2,
        "no-with": 2,
        "radix": 1,
        "vars-on-top": 2,
        "wrap-iife": [
            2,
            "any"
        ],
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": [
            "error",
            {
                "builtinGlobals": false,
                "hoist": "never",
                "allow": []
            }
        ],
        "no-undef-init": 2,
        "no-undef": [
            2,
            {
                "typeof": true
            }
        ],
        "no-undefined": 2,
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "no-use-before-define": 2,
        "callback-return": [
            "error",
            [
                "done",
                "send.error",
                "send.success"
            ]
        ],
        "global-require": 2,
        "handle-callback-err": 2,
        "no-new-require": 2,
        "no-process-env": 1,
        "no-process-exit": 1,
        "comma-dangle": [
            2,
            {
                "functions": "never"
            }
        ],
        "comma-style": [
            2,
            "last"
        ],
        "func-call-spacing": [
            2,
            "never"
        ],
        "max-depth": [
            2,
            4
        ],
        "max-nested-callbacks": [
            2,
            5
        ],
        "max-params": [
            2,
            6
        ],
        "new-cap": [
            2,
            {
                "capIsNew": false
            }
        ],
        "new-parens": 2,
        "no-array-constructor": 2,
        "no-bitwise": 2,
        "no-lonely-if": 1,
        "no-mixed-operators": 2,
        "no-new-object": 2,
        "no-restricted-syntax": [
            2,
            "WithStatement"
        ],
        "no-tabs": 2,
        "no-underscore-dangle": 1,
        "no-unneeded-ternary": 2,
        "no-whitespace-before-property": 2,
        "object-property-newline": 2,
        "one-var-declaration-per-line": 2,
        "one-var": 0,
        "operator-linebreak": [
            2,
            "after"
        ],
        "semi": [
            2,
            "always"
        ],
        "wrap-regex": 2,
        "arrow-body-style": [
            1,
            "always"
        ],
        "arrow-parens": [
            2,
            "always"
        ],
        "arrow-spacing": 2,
        "constructor-super": 2,
        "no-class-assign": 2,
        "no-confusing-arrow": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-duplicate-imports": 2,
        "no-this-before-super": 2,
        "no-useless-computed-key": 2,
        "no-useless-rename": [
            2,
            {
                "ignoreDestructuring": false,
                "ignoreImport": false,
                "ignoreExport": false
            }
        ],
        "no-var": 2,
        "require-yield": 1
    }
}
